*{
    box-sizing: border-box;
}

@-ms-viewport{
    width: device-width;
}

:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --purp: #362db3;
}

body{
    border: 3px solid var(--bright-turquoise);
    margin: 1%;
    background-color: black;
    color: var(--gin);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 50px;
    text-shadow: 2px 2px 0px black;
    line-height: 1.5; 
    opacity: .9;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
} 
@media screen and (max-width: 480px) {
    body{
        font-size: 30px;
    }
}
    
}

nav {
    display: flex;
    flex-wrap: wrap;
}
/*Top Navigation Bar code*/
.topnav {
    overflow: hidden;
    background-color: #333;
    border: 3px solid turquoise;
    }

.topnav a {
    float: center;
    margin-left: 12%;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

.topnav a:hover {
    background-color: #ddd;
    color: black;
    }


/*Bottom Navigation Bar code*/
.bottomnav {
    overflow: hidden;
    background-color: #333;
    border: 3px solid turquoise;
    }
    
.bottomnav a {
    float: center;
    margin-left: 8%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
     }
    
.bottomnav a:hover {
    background-color: #ddd;
    color: black;
    }

.geobanner{
    background:url('/Users/chainrxn12/Desktop/Dorman-Portfolio/assets/images/geo banner.jpeg');
    border: 3px solid var(--bright-turquoise);
    margin: 2%;
    padding: 2%;
}

header{
    display: inline-flex;
    flex-wrap: wrap;
}

aside{
    flex: 1;
    background-color: #b9c6ae;
    padding: 80px;
    text-align: left;
}

.geobanner, p {
    text-align: center;
    font: helvetica;
    font-size: 50px;
    color: var(--gin);
    font-weight: 900;
} 
@media screen and (max-width: 480px) {
    .geobanner, p {
      font-size: 20px;
    }
  }

.gin{
    color: var(--gin);
    font-size: 20px;
    text-align: left;
    padding: 1%;
}
@media screen and (max-width: 480px) {
    .gin, p {
      font-size: 12px;
      color: darkcyan;
    }
  }
 @media screen and (max-width: 780px){
     .gin, p{
         font-size: 16px;
         color: darkred;
     }
     
 }     

h1 {
  color: var(--gin);
  font-weight: 900;
  text-shadow: 2px 2px 0px black;
  text-align: left;
  margin: 1px;
}

main{
    border: 3px solid var(--bright-turquoise);
    margin: 5%;
}

main, img{
    border: 3px solid var(--bright-turquoise);
    margin: 5%;
}

section {
    border: 3px solid var(--bright-turquoise);
    margin: 5%;
    text-align: center;
}

section, img{
    border: 3px solid var(--bright-turquoise);
    margin: 5%;
}

/*flex items for responsiveness*/
.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    
}

.flexbox-item{
    width: 100%;
    margin: 10px;
    border: 3px solid var(--bright-turquoise);
    background-color: black;
}

.flexbox-item-1{
    min-height: 200px;
    flex-grow: 3;
    align-self: center;
}

.flexbox-item-2{
    min-height: 100px;
    flex-grow: 1;
    flex-basis: 0;
    align-self: right;
}

.flexbox-item-3{
    min-height: 100px;
    flex-grow: 1;
    flex-basis: 0;
    align-self: flex-end;
}

.flexbox-item-4{
    min-height: 100px;
    flex-grow: 0;
    flex-basis: 0;
    align-self: flex-end;
}

.flexbox-item header{
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
}

.flexbox-item p{
    text-align: center;
    font-size: 16px;
}



footer{
    bottom: 0;
    width: 100%;
    align-content: center;
    align-items: center;
}



 